		<!-- <div id="goTop">Về đầu trang</div>-->
		<div class="bttop" style="display: block;"><img src='../images/gotop.png'></div>
		<div id="pop-up-hoadonct">
			<h4>Thông tin hóa đơn chi tiết</h4>
			<p>
				<div id='pop-up-content-hoadonct'></div>
			</p>
		</div>
	</div>
</div>
<div id="footer">
	<div class="container">
		<p class="text-muted">Hệ thống quản lý việc thu tiền điện phường An Hòa TP Cần Thơ</p>
	</div>
</div>
<!-- Core Scripts - Include with every page -->
<script src="../js/bootstrap.js"></script>
<script src="../js/admin/tintuc.js"></script>
<script src="../js/admin/phongban.js"></script>
<script src="../js/admin/mucdichsudung.js"></script>
<script src="../js/admin/congtodien.js"></script>
<script src="../js/admin/nhommdsd.js"></script>
<script src="../js/admin/nhanvien.js"></script>
<script src="../js/admin/khachhang.js"></script>
<script src="../js/admin/giadien.js"></script>
<script src="../js/admin/hoadon.js"></script>
<script src="../js/admin/nhapsolieu.js"></script>
<script src="../js/all.js"></script>
<script type="text/javascript" src="../ckeditor.js"></script>
<script type="text/javascript" src="../adapters/jquery.js"></script>
</body>
</html>

