<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="../images/favicon.png">

		<title><%= (locals.title) ? title : 'Điện lực phường An Hòa' %></title>

		<link href="../css/bootstrap.css" rel="stylesheet">
		<link href="../css/canvas.css" rel="stylesheet">
		<link href="../css/font-awesome.css" rel="stylesheet">
		<link href="../css/back.css" rel="stylesheet">
		<link href="../css/style.css" rel="stylesheet">
		<link href="../css/doc.min.css" rel="stylesheet">
		<script src="../js/jquery-1.11.0.js"></script>
	</head>
	<body>
	<!--Thanh dieu huong -->
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<!-- LOGO KHI CO GIÃN KÍCH THƯỚC MÀN HÌNH -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="active navbar-brand" href="http://localhost:8080/admin">
						<span class="lms-logo-48"><h1 class="title">ĐIỆN LỰC <span class="title-dark">ENV</span></h1></span>
					</a>
				</div>
				<!-- Menu -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Danh mục<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/admin/nhanvien">Nhân viên</a></li>
								<li><a href="/admin/khachhang">Khách hàng</a></li>
								<li><a href="/admin/phongban">Phòng ban</a></li>
								<li><a href="/admin/trambienap">Trạm biến áp</a></li>
								<li><a href="/admin/congtodien">Công tơ điện</a></li>
								<li><a href="/admin/nhommdsd">Nhóm mục đích sử dụng</a></li>
								<li><a href="/admin/mucdichsudung">Mục đích sử dụng</a></li>
								<li><a href="/admin/tintuc">Tin tức</a></li>
							</ul>
						</li>
						<li><a href="/admin/nhapsolieu">Nhập chỉ số tiêu thụ</a></li>
						<li><a href="/admin/hoadon">Hóa đơn</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Báo cáo<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/admin/thongke-1">Doanh thu</a></li>
								<li><a href="/admin/thongkeluongdien">Lượng điện tiêu thụ</a></li>
							</ul>
						</li>
						<li><a href="">Trợ giúp</a></li>
					</ul>
					<div id="login-dropdown" class="nav navbar-right">
						<% if(session.username_admin) 
							{%>
							<div>
								<span id="login-dropdown-child">
									<ul class="nav navbar-nav">
										<li class="dropdown"><a class="dropdown-toggle cursor" data-toggle="dropdown"><%= session.username_admin %><img src='../images/user/user.png'></b></a>
											<ul class="dropdown-menu">
												<li><a href='/admin/thongtinnhanvien'>Thông tin nhân viên</a></li>
												<li><a id="a-change-password" class="cursor">Đổi mật khẩu</a></li>
												<li><a href='/admin/logout' class="cursor">Thoát</a></li>
											</ul></li>
									</ul>
								</span>
							</div> 
							<%}%>
					</div>	
				</div>
			</div>
		</nav><!--/.THANH ĐIỀU HƯỚNG -->
		<div class='page-container'>
			<div class='container'>
				<div class='rows' id='banner_u'>
				<div>
					<img src="../images/banner-admin.PNG" align="middle">
				</div>
				</div>
				<%- include ../layouts/sidebar.ejs %>