<div class='col-md-12'>
<hr>
<marquee onmouseover="this.stop()" onmouseout="this.start()" scrollamount="4">
	<div>
	<%if(tieudett.length > 0)
	{%>
	<table>
		<tr>
	<%
		for(var j = 0; j < tieudett.length; j++)
		{
			%>
				<td width="200" align="center">
				<a style="text-decoration:none" href='/home-tintuc-ct?matt=<%=tieudett[j].matintuc%>'><font size='3' color='#C24B13'><%=tieudett[j].tieude.substring(0, 35) + '...'%></font></a>(<%=getDate(tieudett[j].ngaydang)%>)
				<br><img width='178' height='120' src='./uploads/<%=tieudett[j].anhtieude%>'>
				</td>
			<%
		}%>
		</tr>
		</table>
		<%
	}%>
</div>
</marquee>
</div>
