<html>
	<head>
		<title>In hóa đơn</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="../images/favicon.png">
		<link href="../css/style.css" rel="stylesheet">
	</head>
<body>
<div id='inhoadon' align="center">
	<div align="left">
			<button class="btn btn-primary" onclick="myFunction()">In hóa đơn</button>
	</div>
			<script>
			function myFunction()
			{
				window.print();
			}
			</script>
	<%-dt%>
</div>
</body>
</html>
