<html>
	<head>
		<title>In hóa đơn</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="../images/favicon.png">
		<link href="../css/style.css" rel="stylesheet">
	</head>
<body>
<div id='' align="center">
	<table align="center">
		<tr>
			<td align="center">
				<img src="./images/logo-hoadon.png" align="middle" width="150" height="70">
			</td>
			<td align="center">
				<font size="4" color="blue"><b>HÓA ĐƠN GTGT (TIỀN ĐIỆN)</b></font>
				<br>
				<i>Liên 2: Giao khách hàng</i>
				<br>
				<font color="#208AB4">Từ ngày: </font> 1/1/2015 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<font color="#208AB4">Đến ngày: </font>1/1/2015
			</td>
			<td width="200px" align="center">
				Mẫu số:
				<br>
				Ký hiệu:
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<font color="#208AB4"><b>Công ty điện lực TP Cần Thơ</b></font><font color="#208AB4">- Chi nhánh điện lực Phường An Hòa</font>
				<br>
				<font color="#208AB4">Địa chỉ: </font>Số 01, Phường An Hòa TP Cần Thơ
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<font color="#208AB4">Họ tên khách hàng: &nbsp;&nbsp;&nbsp;</font>Nguyễn Hải Đăng
				<br>
				<font color="#208AB4">Địa chỉ khách hàng: &nbsp;&nbsp;&nbsp;</font>Phong Điền, Cần Thơ
				<br>
				<font color="#208AB4">Số điện thoại: &nbsp;&nbsp;&nbsp;</font>01215941976
			</td>
			<td>
				<br>
				<br>
				<font color="#208AB4">Mã công tơ: &nbsp;&nbsp;&nbsp;</font>CTD00001
			</td>
		</tr>
	</table>
	<hr>
	<table>
		<tr>
			<td width="350">
				<font color="#208AB4">Mã hóa đơn: &nbsp;</font>123<br>
				<font color="#208AB4">Mục đích sử dụng: &nbsp;</font>Nhóm điện sản xuất - Điện áp trên 6Kv<br>
				<font color="#208AB4">Chỉ số mới: &nbsp;</font>1500<br>
				<font color="#208AB4">Chỉ số cũ: &nbsp;</font>2500<br>
				<font color="#208AB4">Điện năng TT: &nbsp;</font>1000 = 120000 đồng<br>
				<font color="#208AB4">Thuế &nbsp;</font>10% = &nbsp;1000 đồng<br>
				<font color="#208AB4">Tổng thanh toán: &nbsp;</font>1000 đồng<br>
			</td>
			<td align="center" width="300">
				Chi tiết giá điện
				<table border="1" class='table-hdct'>
					<tr bgcolor="#9FC1F5">
						<td>
							Điện năng tt
						</td>
						<td>
							Đơn giá
						</td>
						<td>
							Thành tiền
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<hr>
	<table>
		<tr>
			<td width="350">
				<font color="#208AB4">Ngày lập: &nbsp;</font>1/1/2015<br>
				<font color="#208AB4">Ngày thanh toán: &nbsp;</font>1/1/2015
			</td>
			<td  align="center">
				<font color="#208AB4">Nhân viên</font><br>Nguyễn Hải Đăng
			</td>
		</tr>
	</table>
	<br><br>
</div>
</body>
</html>