<div id='div-kh'>
				<div class="form-group">
					<label for="txtMaKhachHang">Mã khách hàng</label>
					<input type="text" class="form-control  read-only back-read-only" name="txtMaKhachHang" id='txtMaKhachHang' maxlength="10" value='<%=makhachhang%>'>
				</div>
				<div class="form-group">
					<label for="txtHoTenKH">Họ tên khách hàng</label>
					<input type="text" class="form-control not-paste" name="txtHoTenKH" id='txtHoTenKH' maxlength="50" onkeypress="return isKT(event);">
					<div style="color: red;" id='loi-hotenkh'></div>
				</div>
				<div calss='form-group'>
					<b>Giới tính</b><br>
					<label class="radio-inline">
						<input type="radio" name="optionsRadios" id="rdoNam" value="option1" checked>
						Nam
					</label>
					<label class="radio-inline">
						<input type="radio" name="optionsRadios" id="rdoNu" value="option2">
						Nữ
					</label>
					<br>
				</div>
				<div class="form-group">
					<label for="txtNgaySinh">Ngày sinh</label>
					<input type="text" class="form-control" name="txtNgaySinh" id='txtNgaySinh' maxlength="10" placeholder="ngày/tháng/năm">
					<div style="color: red;" id='loi-ngaysinh'></div>
				</div>
				<div class="form-group">
					<label for="txtDiaChi">Địa chỉ</label>
					<input type="text" class="form-control" name="txtDiaChi" id='txtDiaChi' maxlength="200">
					<div style="color: red;" id='loi-diachi'></div>
				</div>
				<div class="form-group">
					<label for="txtSoDienThoai">Số điện thoại</label>
					<input type="text" class="form-control not-paste" name="txtSoDienThoai" id='txtSoDienThoai' maxlength="11" onkeypress=" return isSDT(event)">
					<div style="color: red;" id='loi-sodt'></div>
				</div>
				<div class="form-group">
					<label for="txtMatKhau">Mật khẩu</label>
					<input type="text" class="form-control read-only back-read-only" name="txtDiaChi" id='txtDiaChi' maxlength="10" value='<%=makhachhang%>'>
				</div>
			</div>