<%- include ../../layouts/header.ejs %>
<div class='col-xs-12 col-sm-8'>
	<label for="article_content">Chi tiết<span class="required">&nbsp;(*)</span></label>
	<textarea id="article_content" name="article_content"
		class="article_content"></textarea>

	<script>
disableAutoInline = true;
$(document).ready(function () {
$('#article_content').ckeditor({
enterMode: CKEDITOR.ENTER_BR
});
});
</script>
</div>
<%- include ../../layouts/footer.ejs %>
