<!DOCTYPE html>
<html>
<head>
<title>Đăng nhập - Admin</title>
<link href="../css/bootstrap.css" rel="stylesheet">
<link href="../css/font-awesome.css" rel="stylesheet">
<link href="../css/back.css" rel="stylesheet">
</head>
<body style="background: whiteSnow;">
	<div id="wrapper">
		<div id="page-wrapper">
			<div class="row">
				<div class="col-xs-11 col-sm-6 col-md-6 col-md-offset-2">
					<div style="border: 1px solid #ddd; padding: 30px">
						<h2>Đăng nhập</h2>
						<form method="post" class="form" action="/admin/login">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><img
										src='../images/user/username-16-1.png'></span> <input
										type="text" class="form-control" name="username" id="username"
										placeholder="Tên đăng nhập.." />
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><img
										src='../images/user/password-16-1.png'></span> <input
										type="password" class="form-control" name="password"
										id="password" placeholder="Mật khẩu.." />
								</div>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-warning">Đăng nhập
								</button>
								<span style="color: red"> <%= error_login %></span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
