		<%- include ../layouts/sidebar1.ejs %>
		<div class="bttop" style="display: block;"><img src='./images/gotop.png'></div>
		<div id="pop-up-giadien">
			<h4>Thông tin giá điện chi tiết</h4>
			<p>
				<div id='pop-up-content-gaidien'></div>
			</p>
		</div>
		<div id="pop-up-hoadonct">
			<h4>Thông tin hóa đơn chi tiết</h4>
			<p>
				<div id='pop-up-content-hoadonct'></div>
			</p>
		</div>
	</div><!-- container-->
</div>
<div id="footer">
	<div class="container">
		<p class="text-muted">Hệ thống quản lý việc thu tiền điện phường An Hòa TP Cần Thơ</p>
	</div>
	
</div>
<!-- Core Scripts - Include with every page -->
<script src="../js/bootstrap.js"></script>
<script src="../js/all.js"></script>
<script type="text/javascript" src="../js/admin/tintuc.js"></script>
<script type="text/javascript" src="../js/user/thongtin.js"></script>
<script type="text/javascript" src="../js/user/nhapsolieu.js"></script>
<script type="text/javascript" src="../js/user/hoadon.js"></script>
<script type="text/javascript" src="../js/user/ykienphanhoi.js"></script>
<script type="text/javascript" src="../js/custombox.js"></script>
<script type="text/javascript" src="../js/demo.js"></script>
<script type="text/javascript" src="../ckeditor.js"></script>
<script type="text/javascript" src="../adapters/jquery.js"></script>
</body>
</html>
