<div>
	<span id="login-dropdown-child">
		<ul class="nav navbar-nav">
			<li class="dropdown"><a class="dropdown-toggle cursor" data-toggle="dropdown"><%= session.hotenkh %>&nbsp;&nbsp;<span class='glyphicon glyphicon-cog'></span></a>
				<ul class="dropdown-menu">
					<li><a href='/thongtinkhachhang' class="cursor">Thông tin khách hàng</a></li>
					<li><a id="btnDoiMatKhau" class="cursor">Đổi mật khẩu</a></li>
					<li><a href='/logout' id="btn-signout" class="cursor">Thoát</a></li>
				</ul>
			</li>
		</ul>
	</span>
</div>