<div class="modal modal-login fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-500">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Đăng nhập</h4>
			</div>
			<div class="modal-body">
				<p>
				<div id='div-login'>
				<form id='form-login' method="post" class="form" action="">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><img src='./images/user/username-16-1.png'></span> <input type="text"
								class="form-control" name="username" id="username"
								placeholder="Tên đăng nhập.."/>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><img
								src='./images/user/password-16-1.png'></span> <input
								type="password" class="form-control" name="password"
								id="password" placeholder="Mật khẩu.." />
						</div>
					</div>
					<div class="form-group">
						<div id='error-login' style="color: red"></div>
					</div>
				</form>
				</div>
				</p>
			</div>
			<div class="modal-footer">
				<button id='btnDangNhap' type="button" class="btn btn-warning"><span class='glyphicon glyphicon-ok'></span> Đăng nhập</button>
				<button type="button" class="btn btn-default" data-dismiss="modal"><span class='glyphicon glyphicon-remove-sign'></span> Hủy</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
