<%- include ../layouts/header.ejs %>
<div class="col-md-9">
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Nhóm mục đích sử dụng > Sửa nhóm mục đích sử dụng
	</div>
	<div class='panel-body'>
		<form action="form-nhommdsd-them">
			<input type="hidden" id='manhom' value=''>
			<div class="form-group">
				<label for="txtTenNhom">Tên nhóm</label>
				<input type="text" class="form-control" name="txtTenNhom" id='txtTenNhom' maxlength="50">
				<div style="color : red;" id='loi_tennhom'></div>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name='trangthai' id='trangthai' checked >Hiển thị
				</label>
			</div>
			<div class='form-group'>
				<button type="button" id='btnLuuNhomMDSD' class="btn btn-default">Lưu</button>
				<button type="reset" class="btn btn-default">Hủy</button>
			</div>
			
		</form>
	</div>
</div>
</div>

<%- include ../layouts/footer.ejs %>
