<%- include ../layouts/header.ejs %>
<div class="col-md-9">
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Nhóm mục đích sử dụng > Thêm nhóm mục đích sử dụng
	</div>
	<div class='panel-body'>
		<form action="form-nhommdsd-them">
			<div class="form-group">
				<label for="txtTenNhom">Tên nhóm</label>
				<input type="text" class="form-control" name="txtTenNhom" id='txtTenNhom' maxlength="50">
				<div style="color : red;" id='loi_tennhom'></div>
			</div>
			
			<div class='form-group'>
				<button type="button" id='btnLuuNhomMDSD' class="btn btn-warning"><span class='glyphicon glyphicon-floppy-save'></span> Lưu</button>
				<button type="reset" class="btn btn-default"><span class='glyphicon glyphicon-remove-sign'></span> Hủy</button>
			</div>
			
		</form>
	</div>
</div>
</div>

<%- include ../layouts/footer.ejs %>
