<%- include ../layouts/header.ejs %>
<div class='col-sm-9'>
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Hệ thống quản lý thu tiền điện phường An Hòa, Thành Phố Cần Thơ
	</div>
	<div class='panel-body'>
		<div align='center' class='row'>
			<div class='col-md-3'>
				<a href='/admin/khachhang'><img src='../images/khachhang.png' width="190" height="170" class="img-thumbnail"><br>Khách hàng</a>
			</div>
			<div class='col-md-3'>
				<a href='/admin/nhanvien'><img src='../images/nhanvien.png' width="190" height="170" class="img-thumbnail"><br>Nhân viên</a>
			</div>
			<div class='col-md-3'>
				<a href='/admin/hoadon'><img src='../images/hoadon.png' width="190" height="170" class="img-thumbnail"><br>Hóa đơn</a>
			</div>
			<div class='col-md-3'>
				<a href='/admin/thongke-1'><img src='../images/baocao.png' width="190" height="170" class="img-thumbnail"><br>Thống kê</a>
			</div>
		</div>
		<div align='center' class='row'>
			<div class='col-md-3'>
				<a href='/admin/huongdansudung'><img src='../images/huongdan.gif' width="190" height="170" class="img-thumbnail"><br>Hướng dẫn sử dụng</a>
			</div>
			<div class='col-md-3'>
				<a href='/admin/tintuc'><img src='../images/tintuc.png' width="190" height="170" class="img-thumbnail"><br>Tin tức</a>
			</div>
			<div class='col-md-3'>
				<a href='/admin/thongtinnhanvien'><img src='../images/info.png' width="190" height="170" class="img-thumbnail"><br>Thông tin nhân viên</a>
			</div>
			<div class='col-md-3'>
				<a href='/admin/thongke-1'><img src='../images/baocao.png' width="190" height="170" class="img-thumbnail"><br>Thống kê</a>
			</div>
		</div>
		<br>
		<div>
			
		</div>
	</div>
</div>
</div>
<%- include ../layouts/footer.ejs %>
