<%- include ../../../layouts/header.ejs %>
<div class='col-sm-9'>
	<div class='panel panel-primary'>
		<div class='panel-heading tieudethongtinuser'>
			Giới thiệu công ty
		</div>
		<div class='panel-body thongtinuser'>
			<%-gioithieu[0].noidung%>
			<%- include ../tintuc/tintuc-bosung.ejs %>
		</div>
	</div>
</div>
<%- include ../../../layouts/footer.ejs %>
