<%- include ../../../layouts/header.ejs %>
<div class='col-sm-9'>
	<div class='panel panel-primary'>
		<div class='panel-heading'>
			Liên hệ
		</div>
		<div class='panel-body thongtinuser'>
			<font size='3' color='#800080'>Mọi chi tiết xin liên hệ<br>
			<b>Tập Đoàn Điện Lực Việt Nam<br>
			Chi nhánh điện lực Thành Phố Cần Thơ<br>
			Điện lực Phường An Hòa, Quận Ninh Kiều, TP Cần Thơ<br></font>
			Địa chỉ: Số XYZ, Đường XYZ, Phường An Hòa, TP Cần Thơ<br>
			Điện thoại: 0710-XXXX-XXX
			Email: dienlucanhoa@gmail.com</b><br>
			Hoặc khách hàng có thể gửi ý kiến, thắc mắc của mình trực tiếp trên trang web của công ty 
			điện lực An Hòa thông qua chuyên mục hỏi và đáp.
			<%- include ../tintuc/tintuc-bosung.ejs %>
		</div>
	</div>
</div>
<%- include ../../../layouts/footer.ejs %>
