<%- include ../../../layouts/header.ejs %>
<div class='col-md-9'>
	<div class='panel panel-primary'>
		<div class='panel-heading'>
			Thông tin giá điện
		</div>
		<div class='panel-body'>
			<%-table%>
		</div>
	</div>
	</div>

<%- include ../../../layouts/footer.ejs %>
