<table align="center">
					<tr>
						<td align="center"><b>Bậc</b></td>
						<td align="center"><b>Chỉ số đầu</b></td>
						<td align="center"><b>Chỉ số cuối</b></td>
						<td align="center"><b>Giá</b></td>
						<td align="center"><b>Xóa</b></td>
					</tr>
					<tr>
						<td align="center">
							<b>Bậc 1 &nbsp&nbsp&nbsp&nbsp</b>
						</td>
						<td>
							<input type='text' class='form-control' class='txtChiSoDau' name='txtChiSoDau' maxlength='4' style="text-align: center;" onkeypress=" return isNumberKey(event)">
						</td>
						<td>
							<input type='text' class='form-control' class='txtChiSoCuoi' name='txtChiSoCuoi' maxlength='4' style="text-align: center;" onkeypress=" return isNumberKey(event)">
						</td>
						<td>
							<input type='text' class='form-control' class='txtGiaDien' name='txtGiaDien' maxlength='4' style="text-align: center;" onkeypress=" return isNumberKey(event)">
						</td>
						<td>
							<button type='button' class='btn btn-default xoaGiaBacThang'><span class='glyphicon glyphicon-remove'></span></button>
						</td>
					</tr>
				</table>