<%- include ../layouts/header.ejs %>
<div class="col-md-9">
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Mục đích sử dụng > Danh sách mục đích sử dụng
	</div>
	<div class='panel-body'>
	<%if(session.info){%><div class='alert alert-success'><%=session.info%></div><% delete session.info}%>
	<div class='rows'>
		<a href='/admin/mucdichsudung-them' class='btn btn-success'><span class='glyphicon glyphicon-plus'></span> Thêm mục đích sử dụng</a>
		<br>
		<br>
		<%-table%>
	</div>
</div>
</div>
<%- include ../layouts/footer.ejs %>
